body
{
	font-family: 'Lato-Regular';
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Raleway-Medium.woff') format('woff'), 
	   url('../fonts/Raleway-Medium.ttf')  format('truetype'), 
	   url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/Raleway-SemiBold.woff') format('woff'),
       url('../fonts/Raleway-SemiBold.ttf')  format('truetype'),
       url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Lato-Regular.woff') format('woff'), 
	   url('../fonts/Lato-Regular.ttf')  format('truetype'), 
	   url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Bold';
  src:  url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff') format('woff'), 
		url('../fonts/Raleway-Bold.ttf')  format('truetype'), 
		url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DobkinScript';
  src: url('../fonts/DobkinScript.eot?#iefix') format('embedded-opentype'),  
	   url('../fonts/DobkinScript.woff') format('woff'), 
	   url('../fonts/DobkinScript.ttf')  format('truetype'), 
	   url('../fonts/DobkinScript.svg#DobkinScript') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SnellRoundhand-Script';
  src: url('../fonts/SnellRoundhand-Script.eot?#iefix') format('embedded-opentype'),  
	   url('../fonts/SnellRoundhand-Script.woff') format('woff'), 
	   url('../fonts/SnellRoundhand-Script.ttf')  format('truetype'), 
	   url('../fonts/SnellRoundhand-Script.svg#SnellRoundhand-Script') format('svg');
  font-weight: normal;
  font-style: normal;
}


.main_container
{
	width:1400px;
	margin:0 auto
}
.header_pad
{
	padding-left:0px;
	padding-right:0px;
}
.portfolio_head
{
	height:800px;
}
.my-profile
{
	width:50%;
}
.profile_photo
{
	width:50%;
	float:left;
}
.my_photo img
{
	height:390px;
	width:300px;
}
.about_me,.parallax_cont
{
	display: table-cell;
	vertical-align: middle;
}
.parallax_cont
{
	left:0px;
	right:0px;
	margin:0 auto;
	text-align:center;
	background: rgba(0, 0, 0, 0.56);
    margin-bottom: 10px;
}
.parallax_cont h3
{
	font-size: 6em;
    font-family: 'DobkinScript';
    color: #fff;
    text-shadow: 2px 2px #fff;
    font-weight: bold;
	margin-top:0px;
}
.parallax_cont h4
{
	font-size:3em;
	color:#fff;
	text-transform:uppercase;
	 font-family: 'Raleway-SemiBold';
}
.parallax {
    background-image: url("../img/parrellax_bg.jpg");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: 100% 100%;
	width:100%;
}
.portfolio_gallery
{
	clear:both;
	margin-bottom:0px;
}
.about_me h2
{
	font-family: 'DobkinScript';
    font-size: 6em;
}
.portfolio_img img
{
	width:100%;
}
.project-link a
{
	color:#fff;
	font-weight:bold;
}
.portfolio_row
{
	margin-bottom:10px;
	margin-top:10px;
}
.project-name span
{
	display:block;
	font-weight:bold;
}
.project-name span span:nth-child(2)
{
	text-decoration:underline;
	text-transform:capitalize;
}
.view_more_link
{
	
}
.view_more_link a
{
	
	margin-top:10px;
	margin-bottom:10px;
	font-size:1.5em;
}
.contact_head h3
{
	font-family: 'DobkinScript';
	font-size: 6em;
	color:#000;
}
.contact_description p{
	font-size:15px;
	text-transform:capitalize;
	letter-spacing:1.5px;
	color:#000;
}
#contact
{
	
	/*background-image:url("../img/ct.jpg");
	background-size:100% 100%;*/
	padding-bottom:10px;
	
}
.footer
{
	height:50px;
	 box-shadow:5px 5px 5px 5px #ccc;
}
.email_ct
{
	text-transform:lowercase !important;
}
/*.contact_shad
{
	background: rgba(0, 0, 0, 0.56);
}*/
@media screen and (min-width:320px) and (max-width:649px)
{
	
}
@media screen and (min-width:650px) and (max-width:1023px)
{
	.main_container
	{
		width:100%;
		margin:0px;
	}
	
}
@media screen and (min-width:1024px) and (max-width:1280px)
{
	.main_container
	{
		width:100%;
		margin:0px;
	}
	
}
@media screen and (min-width:1281px) and (max-width:1366px)
{
	.main_container
	{
		width:100%;
		margin:0px;
	}
	
}
@media screen and (min-width:1367px) and (max-width:1440px)
{
	.main_container
	{
		width:100%;
		margin:0px;
	}
	
	
}